In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url='https://books.toscrape.com/'

In [4]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
# soup

In [7]:
books_div= soup.find_all('ol',{'class':'row'})
len(books_div)

1

In [8]:
books= books_div[0].find_all('li',{'class':'col-xs-6 col-sm-4 col-md-3 col-lg-3'})
len(books)

20

In [9]:
# Arrays to store
titles= []
prices=[] 
images=[]

book_titles = soup. find_all('article', {'class': 'product_pod'})
for i in book_titles:
    # titles
    book_h3 = i.find('h3')
    book_tag = book_h3.find('a')
    titles.append(book_tag.text)
    # book_t = book_tag[ 'title']
    # titles. append (book_t)
    # prices
    book_price_tag = i.find('p', {'class': 'price_color'})
    prices.append(book_price_tag.text)
    # images
    book_image_tag = i.find('div', {'class': 'image_container'})
    image_a = book_image_tag. find('a')
    # images. append (image_a.text)
    images.append(image_a.get('href'))

In [11]:
import pandas as pd
to_scrap_books = pd.DataFrame({'title': titles,  'price':prices, 'image':images})
# to_scrap_books
to_scrap_books['price'] = to_scrap_books['price'].str.replace('Â','')
to_scrap_books.head()

,title,price,image
0,A Light in the ...,£51.77,catalogue/a-light-in-the-attic_1000/index.html
1,Tipping the Velvet,£53.74,catalogue/tipping-the-velvet_999/index.html
2,Soumission,£50.10,catalogue/soumission_998/index.html
3,Sharp Objects,£47.82,catalogue/sharp-objects_997/index.html
4,Sapiens: A Brief History ...,£54.23,catalogue/sapiens-a-brief-history-of-humankind...

In [12]:
to_scrap_books.to_csv('scrap_20_book.csv')